main {
  margin-left: 65px;
}

section{
  width: 350px;
  float: left;
}

aside {
  padding: 5px;
  font-size: 0.9em;
}

h2 {
  font-size: 1em;
  margin: 0;
}


input {
  border-radius: 3px;
}

textarea {
  border-radius: 3px;
}

textarea {
  width: 300px;
  height: 100px;
}

.button{
  background-color: #009cde;
  border-color: #0000ff;
}

footer {
  clear: both;
  padding-top: 10px;
}
